@import './utils/_index.scss';
@import './base/_index.scss';

.app-container {
  --icon-container-width: 30px;

  display: flex;
  height: 100vh;
}

@import './layout/_main.scss';
@import './layout/_sidebar.scss';


/* platform: web */
@mixin extension--web {
  .app-container {
    --icon-container-width: 40px;

    width: 50vw;
    height: 100%;
    margin: 0 auto;
    padding: 20px 0;
  }

  @media (max-width: 1024px) {
    .app-container {
      width: 100%;
      overflow-x: hidden;
    }
  }

  @media (max-width: 360px) {
    .app-container {
      --icon-container-width: 30px;
    }
  }
}
