.main-container {
  --background-color: #fff;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: var(--background-color);
}

@import '../components/_add-todo-form.scss';
@import '../components/_todo-list-section.scss';


/* theme: dark */
.theme-dark {
  .main-container {
    --background-color: #242424;
  }
}


/* platform: web */
@mixin main-layout--web {
  .main-container {
    --left-space: 20px;
    --right-space: 8px;
  }

  @media (max-width: 576px) {
    .main-container {
      --left-space: 10px;
    }
  }
}
